#exclude .o File
*.o
#ignore .a files
*.a
!libsqlite3.a
!libsctool.a
!libcrypto.a
!lib_wlkpskm.a
!libpthread.a
!libz.a
!libiconv.a
!libhhhbca.a
!libhhkey.a
!libmsukapi.a
!libbarencode.a
!libJspInterface.a

*.tmp
*.gdb
*.m4
*.bak
*.ncb
*.opt
config.h
*.in
*.in~
*.log
*.status
configure
COPYING
depcomp
FCR.BIN
INSTALL
install-sh
Makefile
missing
stamp-h1
#exclude folder
.deps/
autom4te.cache/
awe4000r
*.dsw
*.dsp
*.positions
*.ncb
*.opt


